name: Build and Publish

on:
  push:
    branches: [ main, 1.x ]
  pull_request:
    branches: [ main, 1.x ]

jobs:

  build-android:
    runs-on: ubuntu-latest # For a list of available runner types, refer to
                             # https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idruns-on

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
        
    # Start npm/platform tasks
    - uses: actions/setup-node@v1
      with:
        node-version: 14
        
    # Build platform package including template and CLI scripts
    - name: Build platform
      run: cd packages/intune && npm install && npm run build

    - uses: actions/setup-java@v2
      with:
        distribution: 'zulu' # See 'Supported distributions' for available options
        java-version: '8'

    - name: Build test app for Android
      run: |
        npm install -g npm
        cd packages/react-test-app
        npm install
        npm run build
        npx cap sync android
        cd android
        bash gradlew app:assembleDebug

  
  build-ios:
    runs-on: macos-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    steps:
      - name: Build
      run: |
        cd packages/react-test-app
        npm install
        npm run build
        npx cap sync ios
        cd ios/App
        xcodebuild clean build -sdk iphonesimulator -workspace App.xcworkspace -scheme App -configuration Debug CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO

  publish:
    runs-on: ubuntu-latest # For a list of available runner types, refer to
                             # https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idruns-on

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
        
    # Start npm/platform tasks
    - uses: actions/setup-node@v1
      with:
        node-version: 14
    - uses: JS-DevTools/npm-publish@v1
      with:
        token: ${{ secrets.NPM_TOKEN }}
        package: packages/intune/package.json
        