name: Build and Publish

on:
  push:
    branches: [ main, 1.x ]
  pull_request:
    branches: [ main, 1.x ]

jobs:

  build-android:
    runs-on: ubuntu-latest # For a list of available runner types, refer to
                             # https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idruns-on

    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
        
    # Start npm/platform tasks
    - name: Setup NodeJS
      uses: actions/setup-node@v3
      with:
        node-version: 18
    
    - name: Setup PNPM
      uses: pnpm/action-setup@v2
      with:
        version: ^7.13.4
        run_install: false

    - name: Get pnpm store directory
      id: pnpm-cache
      shell: bash
      run: |
        echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

    - uses: actions/cache@v3
      name: Setup pnpm cache
      with:
        path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
        key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
        restore-keys: |
          ${{ runner.os }}-pnpm-store-
    
    - name: Install dependencies
      run: pnpm install
        
    # Build platform package including template and CLI scripts
    - name: Build platform
      run: cd packages/intune && pnpm run build

    - uses: actions/setup-java@v2
      with:
        distribution: 'temurin' # See 'Supported distributions' for available options
        java-version: '17'

    - name: Build test app for Android
      run: |
        cd packages/react-test-app
        pnpm run build
        pnpm cap sync android
        cd android
        bash gradlew app:assembleDebug

  
  build-ios:
    runs-on: macos-12
    timeout-minutes: 10

    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
    
    - name: Use Xcode 13
      run: sudo xcode-select --switch /Applications/Xcode_14.0.1.app

    - name: Setup NodeJS
      uses: actions/setup-node@v3
      with:
        node-version: 18
    
    - name: Setup PNPM
      uses: pnpm/action-setup@v2
      with:
        version: ^7.13.4
        run_install: false

    - name: Get pnpm store directory
      id: pnpm-cache
      shell: bash
      run: |
        echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

    - uses: actions/cache@v3
      name: Setup pnpm cache
      with:
        path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
        key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
        restore-keys: |
          ${{ runner.os }}-pnpm-store-
    
    - name: Install dependencies
      run: pnpm install

    - name: Build
      run: |
        cd packages/react-test-app
        pnpm run build
        pnpm cap sync ios
        cd ios/App
        xcodebuild clean build -sdk iphonesimulator -workspace App.xcworkspace -scheme App -configuration Debug CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO

  # publish:
  #   if: github.ref == 'refs/heads/main'
  #   needs: [build-ios, build-android]
  #   runs-on: ubuntu-latest # For a list of available runner types, refer to
  #                            # https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idruns-on

  #   steps:
  #   - name: Checkout
  #     uses: actions/checkout@v3
  #     with:
  #       fetch-depth: 0
        
  #   # Start npm/platform tasks
  #   - name: Setup NodeJS
  #     uses: actions/setup-node@v3
  #     with:
  #       node-version: 18
    
  #   - name: Setup PNPM
  #     uses: pnpm/action-setup@v2
  #     with:
  #       version: ^7.13.4
  #       run_install: false

  #   - name: Get pnpm store directory
  #     id: pnpm-cache
  #     shell: bash
  #     run: |
  #       echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

  #   - uses: actions/cache@v3
  #     name: Setup pnpm cache
  #     with:
  #       path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
  #       key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
  #       restore-keys: |
  #         ${{ runner.os }}-pnpm-store-
    
  #   - name: Install dependencies
  #     run: pnpm install

  #   - uses: JS-DevTools/npm-publish@v1
  #     with:
  #       token: ${{ secrets.NPM_TOKEN }}
  #       package: packages/intune/package.json